<div id="cadernos-view" class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center mb-6">
         <h2 id="cadernos-view-title" class="text-2xl font-bold text-gray-800">Meus Cadernos</h2>
         <div id="cadernos-view-actions" class="flex items-center space-x-2">
            <button id="back-to-folders-btn" class="hidden bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded-md hover:bg-gray-300 transition-colors duration-300 flex items-center">
                <i class="fas fa-arrow-left mr-2"></i>
                Voltar
            </button>
            <button id="add-questions-to-caderno-btn" class="hidden bg-green-500 text-white font-bold py-2 px-4 rounded-md hover:bg-green-600 transition-colors duration-300 flex items-center">
                 <i class="fas fa-plus mr-2"></i>
                 Adicionar Questões
            </button>
            <button id="create-folder-btn" class="bg-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition-colors duration-300 flex items-center">
                <i class="fas fa-folder-plus mr-2"></i>
                Criar Pasta
            </button>
            <button id="add-caderno-to-folder-btn" class="hidden bg-green-500 text-white font-bold py-2 px-4 rounded-md hover:bg-green-600 transition-colors duration-300 flex items-center">
                 <i class="fas fa-plus mr-2"></i>
                 Adicionar Caderno
            </button>
         </div>
    </div>
    <div id="saved-cadernos-list-container">
        <!-- Pastas e cadernos serão inseridos aqui -->
    </div>
</div>
